@{
    ViewBag.Title = "Đặt hàng thành công";
    
}
<div class="main-container col2-right-layout">
    <h2>Cám ơn khách hàng "@ViewBag.cusName" đã mua hàng tại website của chúng tôi.</h2>
</div>
