@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@Html.ActionLink("Giới thiệu", "Edit", new { id=laca.Models.SytemContent.About })
<br />
@Html.ActionLink("Liên hệ", "Edit", new { id=laca.Models.SytemContent.Contact })
<br />
@Html.ActionLink("Dịch vụ khách hàng", "Edit", new { id=laca.Models.SytemContent.CustomerServices })
<br />
@Html.ActionLink("Thanh toán và giao hàng", "Edit", new { id=laca.Models.SytemContent.DeliveryAndPayment })
<br />