<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"><head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>kate spade</title>
<meta name="description" content="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sit amet mi non urna faucibus posuere nec sit amet enim. Donec nibh felis, convallis rutrum mattis ac, vestibulum sed massa. Aliquam non lacus quam. Suspendisse ante odio, dignissim at conva">
<meta name="keywords" content="Magento, Varien, E-commerce">
<meta name="robots" content="INDEX,FOLLOW">
<script src="kate%20spade_files/ga.js" async="" type="text/javascript"></script><script src="kate%20spade_files/cloudflare.js" async=""></script><script type="text/javascript">
//<![CDATA[
window.__CF=window.__CF||{};window.__CF.AJS={"ga_key":{"ua":"UA-7078796-5","ga_bs":"2"}};
//]]>
</script>
<script type="text/javascript">
//<![CDATA[
try{if (!window.CloudFlare) { var CloudFlare=[{verbose:0,p:0,byc:0,owlid:"cf",mirage:{responsive:0,lazy:0},oracle:0,paths:{cloudflare:"/cdn-cgi/nexp/abv=378448694/"},atok:"22e6218c5a356bb1c6ed455649b6a8c2",zone:"template-help.com",rocket:"0",apps:{"ga_key":{"ua":"UA-7078796-5","ga_bs":"2"}}}];var a=document.createElement("script"),b=document.getElementsByTagName("script")[0];a.async=!0;a.src="//ajax.cloudflare.com/cdn-cgi/nexp/abv=4035706501/cloudflare.min.js";b.parentNode.insertBefore(a,b);}}catch(e){};
//]]>
</script>
<link rel="icon" href="http://livedemo00.template-help.com/magento_34403/skin/frontend/default/theme042k/favicon.ico" type="image/x-icon">
<link rel="shortcut icon" href="http://livedemo00.template-help.com/magento_34403/skin/frontend/default/theme042k/favicon.ico" type="image/x-icon">
<script src="kate%20spade_files/jquery-1.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" charset="utf-8">
var J = jQuery.noConflict();
</script>
<script src="kate%20spade_files/jquery_002.js" type="text/javascript" charset="utf-8"></script>
<script src="kate%20spade_files/jquery.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" language="javascript">
J(document).ready(
function() {
    J('.slideshow').before('<div id="pagination">').cycle({
				fx: 'fade', 
				timeout: 5000, 
				pager: '#pagination'
				});	
				J('.new_prod_list')
				.cycle({
				fx:     'scrollHorz',
				speed:  'fast',  
    next:   '#next2', 
    prev:   '#prev2' 

				});
}
);
J(function() {				
	J("ul#user_interaction").carouFredSel({
		items: {
						visible: 4,
						width: 160
		},
		scroll: {
						items: 1,
						duration: 500
		},
		pagination: "#foo3_pag"
	});				
});
</script>
<!--[if lt IE 7]>
<script type="text/javascript">
//<![CDATA[
    var BLANK_URL = 'http://livedemo00.template-help.com/magento_34403/js/blank.html';
    var BLANK_IMG = 'http://livedemo00.template-help.com/magento_34403/js/spacer.gif';
//]]>
</script>
<![endif]-->
<!--[if lt IE 7]>
    <div style=' clear: both; text-align:center; position: relative;'>
        <a href="http://www.microsoft.com/windows/internet-explorer/default.aspx?ocid=ie6_countdown_bannercode"><img src="http://www.theie6countdown.com/images/upgrade.jpg" border="0"  alt="" /></a>
    </div>
<![endif]-->
<link rel="stylesheet" type="text/css" href="kate%20spade_files/calendar-win2k-1.css">
<link rel="stylesheet" type="text/css" href="kate%20spade_files/styles.css" media="all">
<link rel="stylesheet" type="text/css" href="kate%20spade_files/widgets.css" media="all">
<link rel="stylesheet" type="text/css" href="kate%20spade_files/print.css" media="print">
<script type="text/javascript" src="kate%20spade_files/prototype.js"></script>
<script type="text/javascript" src="kate%20spade_files/ccard.js"></script>
<script type="text/javascript" src="kate%20spade_files/validation.js"></script>
<script type="text/javascript" src="kate%20spade_files/builder.js"></script>
<script type="text/javascript" src="kate%20spade_files/effects.js"></script>
<script type="text/javascript" src="kate%20spade_files/dragdrop.js"></script>
<script type="text/javascript" src="kate%20spade_files/controls.js"></script>
<script type="text/javascript" src="kate%20spade_files/slider.js"></script>
<script type="text/javascript" src="kate%20spade_files/js.js"></script>
<script type="text/javascript" src="kate%20spade_files/form.js"></script>
<script type="text/javascript" src="kate%20spade_files/menu.js"></script>
<script type="text/javascript" src="kate%20spade_files/translate.js"></script>
<script type="text/javascript" src="kate%20spade_files/cookies.js"></script>
<script type="text/javascript" src="kate%20spade_files/product.js"></script>
<script type="text/javascript" src="kate%20spade_files/configurable.js"></script>
<script type="text/javascript" src="kate%20spade_files/calendar.js"></script>
<script type="text/javascript" src="kate%20spade_files/calendar-setup.js"></script>
<!--[if lt IE 8]>
<link rel="stylesheet" type="text/css" href="http://livedemo00.template-help.com/magento_34403/skin/frontend/default/theme042k/css/styles-ie.css" media="all" />
<![endif]-->
<!--[if lt IE 7]>
<script type="text/javascript" src="http://livedemo00.template-help.com/magento_34403/js/lib/ds-sleight.js"></script>
<script type="text/javascript" src="http://livedemo00.template-help.com/magento_34403/skin/frontend/base/default/js/ie6.js"></script>
<![endif]-->
<script type="text/javascript">
//<![CDATA[
Mage.Cookies.path     = '/magento_34403';
Mage.Cookies.domain   = '.livedemo00.template-help.com';
//]]>
</script>
<script type="text/javascript">
//<![CDATA[
optionalZipCountries = [];
//]]>
</script>
<script type="text/javascript">var Translator = new Translate({"Please use only letters (a-z or A-Z), numbers (0-9) or underscore(_) in this field, first character should be a letter.":"Please use only letters (a-z or A-Z), numbers (0-9) or underscores (_) in this field, first character must be a letter."});</script><script type="text/javascript">
/* <![CDATA[ */
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-7078796-5']);
_gaq.push(['_trackPageview']);

(function() {
var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();

(function(b){(function(a){"__CF"in b&&"DJS"in b.__CF?b.__CF.DJS.push(a):"addEventListener"in b?b.addEventListener("load",a,!1):b.attachEvent("onload",a)})(function(){"FB"in b&&"Event"in FB&&"subscribe"in FB.Event&&(FB.Event.subscribe("edge.create",function(a){_gaq.push(["_trackSocial","facebook","like",a])}),FB.Event.subscribe("edge.remove",function(a){_gaq.push(["_trackSocial","facebook","unlike",a])}),FB.Event.subscribe("message.send",function(a){_gaq.push(["_trackSocial","facebook","send",a])}));"twttr"in b&&"events"in twttr&&"bind"in twttr.events&&twttr.events.bind("tweet",function(a){if(a){var b;if(a.target&&a.target.nodeName=="IFRAME")a:{if(a=a.target.src){a=a.split("#")[0].match(/[^?=&]+=([^&]*)?/g);b=0;for(var c;c=a[b];++b)if(c.indexOf("url")===0){b=unescape(c.split("=")[1]);break a}}b=void 0}_gaq.push(["_trackSocial","twitter","tweet",b])}})})})(window);
/* ]]> */
</script>
</head>
<body class=" catalog-product-view catalog-product-view product-kate-spade">
<div class="wrapper">
<noscript>
<div class="noscript">
<div class="noscript-inner">
<p><strong>JavaScript seem to be disabled in your browser.</strong></p>
<p>You must have JavaScript enabled in your browser to utilize the functionality of this website.</p>
</div>
</div>
</noscript>
<div class="page">
<div class="header-container">
<div class="header">
<a href="http://livedemo00.template-help.com/magento_34403/index.php/" title="Magento Commerce" class="logo"><strong>Magento Commerce</strong><img src="kate%20spade_files/logo.gif" alt="Magento Commerce"></a>
<div class="quick-access">
<p class="welcome-msg">Welcome to our online store!</p>
<form id="search_mini_form" action="http://livedemo00.template-help.com/magento_34403/index.php/catalogsearch/result/" method="get">
<div class="form-search">
<label for="search">Search:</label>
<input autocomplete="off" id="search" name="q" value="Search entire store here..." class="input-text" type="text">
<button type="submit" title="Search" class="button"><span><span>Search</span></span></button>
<div style="display: none;" id="search_autocomplete" class="search-autocomplete"></div>
<script type="text/javascript">
        //<![CDATA[
            var searchForm = new Varien.searchForm('search_mini_form', 'search', 'Search entire store here...');
            searchForm.initAutocomplete('http://livedemo00.template-help.com/magento_34403/index.php/catalogsearch/ajax/suggest/', 'search_autocomplete');
        //]]>
        </script>
</div>
</form>
<ul class="links">
<li class="first"><a href="http://livedemo00.template-help.com/magento_34403/index.php/customer/account/" title="My Account">My Account</a></li>
<li><a href="http://livedemo00.template-help.com/magento_34403/index.php/wishlist/" title="My Wishlist">My Wishlist</a></li>
<li><a href="http://livedemo00.template-help.com/magento_34403/index.php/checkout/cart/" title="My Cart" class="top-link-cart">My Cart</a></li>
<li><a href="http://livedemo00.template-help.com/magento_34403/index.php/checkout/" title="Checkout" class="top-link-checkout">Checkout</a></li>
<li class=" last"><a href="http://livedemo00.template-help.com/magento_34403/index.php/customer/account/login/" title="Log In">Log In</a></li>
</ul>
</div>
<div class="nav-container">
<ul id="nav">
<li id="" class="level0 nav-1 level-top first parent">
<a href="http://livedemo00.template-help.com/magento_34403/index.php/accessories" class="level-top">
<span>Accessories</span>
</a>
<ul class="level0">
<li id="" class="level1 nav-1-1 first">
<a href="http://livedemo00.template-help.com/magento_34403/index.php/accessories/bags">
<span>Bags</span>
</a>
</li><li id="" class="level1 nav-1-2">
<a href="http://livedemo00.template-help.com/magento_34403/index.php/accessories/sunglasses">
<span>Sunglasses</span>
</a>
</li><li id="" class="level1 nav-1-3 last">
<a href="http://livedemo00.template-help.com/magento_34403/index.php/accessories/wallets-money-key-organizers">
<span>Wallets, Money &amp; Key Organizers</span>
</a>
</li>
</ul>
</li><li id="" class="level0 nav-2 level-top parent">
<a href="http://livedemo00.template-help.com/magento_34403/index.php/activewear" class="level-top">
<span>Activewear</span>
</a>
<ul class="level0">
<li id="" class="level1 nav-2-1 first">
<a href="http://livedemo00.template-help.com/magento_34403/index.php/activewear/men">
<span>men</span>
</a>
</li><li id="" class="level1 nav-2-2 last">
<a href="http://livedemo00.template-help.com/magento_34403/index.php/activewear/women">
<span>women</span>
</a>
</li>
</ul>
</li><li id="" class="level0 nav-3 level-top">
<a href="http://livedemo00.template-help.com/magento_34403/index.php/casual-shirts" class="level-top">
<span>Casual Shirts</span>
</a>
</li><li id="" class="level0 nav-4 level-top">
<a href="http://livedemo00.template-help.com/magento_34403/index.php/outwear" class="level-top">
<span>Outerwear</span>
</a>
</li><li id="" class="level0 nav-5 level-top">
<a href="http://livedemo00.template-help.com/magento_34403/index.php/pajamas" class="level-top">
<span>Pajamas</span>
</a>
</li><li id="" class="level0 nav-6 level-top">
<a href="http://livedemo00.template-help.com/magento_34403/index.php/jeans-pants" class="level-top">
<span>Jeans&amp;Pants</span>
</a>
</li><li id="" class="level0 nav-7 level-top last">
<a href="http://livedemo00.template-help.com/magento_34403/index.php/sweaters" class="level-top">
<span>Sweaters</span>
</a>
</li> </ul>
</div>
</div>
</div>
<div class="main-container col2-right-layout">
<div class="main">
<div class="breadcrumbs">
<ul>
<li class="home">
<a href="http://livedemo00.template-help.com/magento_34403/index.php/" title="Go to Home Page">Home</a>
<span> &gt; </span>
</li>
<li class="product">
<strong>kate spade</strong>
</li>
</ul>
</div>
<div class="col-main">
<script type="text/javascript">
    var optionsPrice = new Product.OptionsPrice([]);
</script>
<div id="messages_product_view"></div>
<div class="product-view">
<div class="product-essential">
<form action="http://livedemo00.template-help.com/magento_34403/index.php/checkout/cart/add/uenc/aHR0cDovL2xpdmVkZW1vMDAudGVtcGxhdGUtaGVscC5jb20vbWFnZW50b18zNDQwMy9pbmRleC5waHAva2F0ZS1zcGFkZS0xLmh0bWw,/product/43/" method="post" id="product_addtocart_form">
<div class="no-display">
<input name="product" value="43" type="hidden">
<input name="related_product" id="related-products-field" value="" type="hidden">
</div>
<div class="product-shop">
<div class="product-name">
<h1>kate spade</h1>
</div>
<p class="email-friend"><a href="http://livedemo00.template-help.com/magento_34403/index.php/sendfriend/product/send/id/43/">Email to a Friend</a></p>
<p class="no-rating"><a href="http://livedemo00.template-help.com/magento_34403/index.php/review/product/list/id/43/#review-form">Be the first to review this product</a></p>
<div class="price-box">
<span class="regular-price" id="product-price-43">
<span class="price">$199.00</span> </span>
</div>
<p class="availability in-stock">Availability: <span>In stock</span></p>
<div class="clear"></div>
<div class="add-to-box">
<div class="add-to-cart">
<label for="qty">Qty:</label>
<input name="qty" id="qty" maxlength="12" value="1" title="Qty" class="input-text qty" type="text">
<button type="button" title="Add to Cart" class="button btn-cart" onclick="productAddToCartForm.submit(this)"><span><span>Add to Cart</span></span></button>
</div>
<span class="or">OR</span>
<ul class="add-to-links">
<li><a href="http://livedemo00.template-help.com/magento_34403/index.php/wishlist/index/add/product/43/" onclick="productAddToCartForm.submitLight(this, 'http://livedemo00.template-help.com/magento_34403/index.php/wishlist/index/add/product/43/'); return false;" class="link-wishlist">Add to Wishlist</a></li>
<li><span class="separator">|</span> <a href="http://livedemo00.template-help.com/magento_34403/index.php/catalog/product_compare/add/product/43/uenc/aHR0cDovL2xpdmVkZW1vMDAudGVtcGxhdGUtaGVscC5jb20vbWFnZW50b18zNDQwMy9pbmRleC5waHAva2F0ZS1zcGFkZS0xLmh0bWw,/" class="link-compare">Add to Compare</a></li>
</ul>
</div>
<div class="short-description">
<h2>Quick Overview</h2>
<div class="std">new york 'jillian' bow front dress</div>
</div>
</div>
<div class="product-img-box">
<p class="product-image product-image-zoom">
<img style="width: 265px; left: 0px; top: 0px;" id="image" src="kate%20spade_files/pic2.jpg" alt="kate spade" title="kate spade"></p>
<p class="zoom-notice" id="track_hint">Double click on above image to view full picture</p>
<div class="zoom">
<img id="zoom_out" src="kate%20spade_files/slider_btn_zoom_out.gif" alt="Zoom Out" title="Zoom Out" class="btn-zoom-out">
<div id="track">
<div style="left: 0px;" class="selected" id="handle"></div>
</div>
<img id="zoom_in" src="kate%20spade_files/slider_btn_zoom_in.gif" alt="Zoom In" title="Zoom In" class="btn-zoom-in">
</div>
<script type="text/javascript">
//<![CDATA[
    Event.observe(window, 'load', function() {
        product_zoom = new Product.Zoom('image', 'track', 'handle', 'zoom_in', 'zoom_out', 'track_hint');
    });
//]]>
</script>
<div class="more-views">
<h2>More Views</h2>
<ul>
<li>
<a href="#" onclick="popWin('http://livedemo00.template-help.com/magento_34403/index.php/catalog/product/gallery/id/43/image/123/', 'gallery', 'width=300,height=300,left=0,top=0,location=no,status=yes,scrollbars=yes,resizable=yes'); return false;" title=""><img src="kate%20spade_files/pic2_002.jpg" alt="" height="68" width="68"></a>
</li>
</ul>
</div>
</div>
<div class="clearer"></div>
</form>
<script type="text/javascript">
    //<![CDATA[
        var productAddToCartForm = new VarienForm('product_addtocart_form');
        productAddToCartForm.submit = function(button, url) {
            if (this.validator.validate()) {
                var form = this.form;
                var oldUrl = form.action;

                if (url) {
                   form.action = url;
                }
                var e = null;
                try {
                    this.form.submit();
                } catch (e) {
                }
                this.form.action = oldUrl;
                if (e) {
                    throw e;
                }

                if (button && button != 'undefined') {
                    button.disabled = true;
                }
            }
        }.bind(productAddToCartForm);

        productAddToCartForm.submitLight = function(button, url){
            if(this.validator) {
                var nv = Validation.methods;
                delete Validation.methods['required-entry'];
                delete Validation.methods['validate-one-required'];
                delete Validation.methods['validate-one-required-by-name'];
                if (this.validator.validate()) {
                    if (url) {
                        this.form.action = url;
                    }
                    this.form.submit();
                }
                Object.extend(Validation.methods, nv);
            }
        }.bind(productAddToCartForm);
    //]]>
    </script>
</div>
<div class="product-collateral">
<div class="box-collateral box-description">
<h2>Details</h2>
<div class="std">
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sit 
amet mi non urna faucibus posuere nec sit amet enim. Donec nibh felis, 
convallis rutrum mattis ac, vestibulum sed massa. Aliquam non lacus 
quam. Suspendisse ante odio, dignissim at convallis quis, tempus sit 
amet diam. Nunc non bibendum felis. Maecenas sed sapien eros, ac rutrum 
justo. Sed pretium pretium lorem, nec sagittis erat tincidunt porta. 
Fusce vitae tellus non velit faucibus pellentesque. Pellentesque urna 
velit, tempus at cursus eu, congue sed quam. Integer mi dolor, aliquam 
vitae ultricies vitae, tristique eget magna. Vivamus aliquam aliquet 
risus in rutrum. Proin egestas placerat elit non pretium. Donec id arcu 
at tortor molestie egestas. Cras rutrum varius dapibus. Nam ligula eros,
 porttitor non dapibus a, mattis id metus. Praesent eget arcu nunc. Ut 
lobortis, augue at venenatis dictum, magna diam bibendum ante, vitae 
pharetra est nisl in purus. </div>
</div>
<div class="box-collateral box-additional">
<h2>Additional Information</h2>
<table class="data-table" id="product-attribute-specs-table">
<colgroup><col width="25%">
<col>
</colgroup><tbody>
<tr class="first last odd">
<th class="label">Manufacturer</th>
<td class="data last">No</td>
</tr>
</tbody>
</table>
<script type="text/javascript">decorateTable('product-attribute-specs-table')</script>
</div>
<div class="box-collateral box-up-sell">
<h2>You may also be interested in the following product(s)</h2>
<ul class="products-grid" id="upsell-product-table">
<li class="item">
<div class="price-box">
<span class="regular-price" id="product-price-42-upsell">
<span class="price">$299.00</span> </span>
</div>
<a href="http://livedemo00.template-help.com/magento_34403/index.php/kate-spade.html" title="kate spade" class="product-image"><img src="kate%20spade_files/pic1.jpg" alt="kate spade" height="197" width="150"></a>
<h3 class="product-name"><a href="http://livedemo00.template-help.com/magento_34403/index.php/kate-spade.html" title="kate spade">kate spade</a></h3>
</li>
<li class="item">
<div class="price-box">
<span class="regular-price" id="product-price-44-upsell">
<span class="price">$159.00</span> </span>
</div>
<a href="http://livedemo00.template-help.com/magento_34403/index.php/kate-spade-2.html" title="kate spade" class="product-image"><img src="kate%20spade_files/pic3_002.jpg" alt="kate spade" height="197" width="150"></a>
<h3 class="product-name"><a href="http://livedemo00.template-help.com/magento_34403/index.php/kate-spade-2.html" title="kate spade">kate spade</a></h3>
</li>
<li class="item">
<div class="price-box">
<span class="regular-price" id="product-price-45-upsell">
<span class="price">$399.00</span> </span>
</div>
<a href="http://livedemo00.template-help.com/magento_34403/index.php/js-boutique.html" title="JS Boutique" class="product-image"><img src="kate%20spade_files/pic4_002.jpg" alt="JS Boutique" height="197" width="150"></a>
<h3 class="product-name"><a href="http://livedemo00.template-help.com/magento_34403/index.php/js-boutique.html" title="JS Boutique">JS Boutique</a></h3>
</li>
<li class="empty">&nbsp;</li>
</ul>
<script type="text/javascript">decorateTable('upsell-product-table')</script>
</div>
<div class="box-collateral box-tags">
<h2>Product Tags</h2>
<form id="addTagForm" action="http://livedemo00.template-help.com/magento_34403/index.php/tag/index/save/product/43/uenc/aHR0cDovL2xpdmVkZW1vMDAudGVtcGxhdGUtaGVscC5jb20vbWFnZW50b18zNDQwMy9pbmRleC5waHAva2F0ZS1zcGFkZS0xLmh0bWw,/" method="get">
<div class="form-add">
<label for="productTagName">Add Your Tags:</label>
<div class="input-box">
<input class="input-text required-entry" name="productTagName" id="productTagName" type="text">
</div>
<button type="button" title="Add Tags" class="button" onclick="submitTagForm()">
<span>
<span>Add Tags</span>
</span>
</button>
</div>
</form>
<p class="note">Use spaces to separate tags. Use single quotes (') for phrases.</p>
<script type="text/javascript">
    //<![CDATA[
        var addTagFormJs = new VarienForm('addTagForm');
        function submitTagForm(){
            if(addTagFormJs.validator.validate()) {
                addTagFormJs.form.submit();
            }
        }
    //]]>
    </script>
</div>
</div>
</div>
<script type="text/javascript">
    Mage.Cookies.set('external_no_cache', 1);
</script>
</div>
<div class="col-right sidebar"><div class="block block-related">
<div class="block-title">
<strong><span>Related Products</span></strong>
</div>
<div class="block-content">
<p class="block-subtitle">Check items to add to the cart or&nbsp;<a href="#" onclick="selectAllRelated(this); return false;">select all</a></p>
<ol class="mini-products-list" id="block-related">
<li class="item odd">
<input class="checkbox related-checkbox" id="related-checkbox42" name="related_products[]" value="42" type="checkbox">
<div class="product">
<a href="http://livedemo00.template-help.com/magento_34403/index.php/kate-spade.html" title="kate spade" class="product-image"><img src="kate%20spade_files/pic1_002.jpg" alt="kate spade" height="130" width="100"></a>
<div class="product-details">
<p class="product-name"><a href="http://livedemo00.template-help.com/magento_34403/index.php/kate-spade.html">kate spade</a></p>
<div class="price-box">
<span class="regular-price" id="product-price-42-related">
<span class="price">$299.00</span> </span>
</div>
<a href="http://livedemo00.template-help.com/magento_34403/index.php/wishlist/index/add/product/42/" class="link-wishlist">Add to Wishlist</a>
</div>
</div>
</li>
<li class="item even">
<input class="checkbox related-checkbox" id="related-checkbox44" name="related_products[]" value="44" type="checkbox">
<div class="product">
<a href="http://livedemo00.template-help.com/magento_34403/index.php/kate-spade-2.html" title="kate spade" class="product-image"><img src="kate%20spade_files/pic3.jpg" alt="kate spade" height="130" width="100"></a>
<div class="product-details">
<p class="product-name"><a href="http://livedemo00.template-help.com/magento_34403/index.php/kate-spade-2.html">kate spade</a></p>
<div class="price-box">
<span class="regular-price" id="product-price-44-related">
<span class="price">$159.00</span> </span>
</div>
<a href="http://livedemo00.template-help.com/magento_34403/index.php/wishlist/index/add/product/44/" class="link-wishlist">Add to Wishlist</a>
</div>
</div>
</li>
<li class="item last odd">
<input class="checkbox related-checkbox" id="related-checkbox45" name="related_products[]" value="45" type="checkbox">
<div class="product">
<a href="http://livedemo00.template-help.com/magento_34403/index.php/js-boutique.html" title="JS Boutique" class="product-image"><img src="kate%20spade_files/pic4.jpg" alt="JS Boutique" height="130" width="100"></a>
<div class="product-details">
<p class="product-name"><a href="http://livedemo00.template-help.com/magento_34403/index.php/js-boutique.html">JS Boutique</a></p>
<div class="price-box">
<span class="regular-price" id="product-price-45-related">
<span class="price">$399.00</span> </span>
</div>
<a href="http://livedemo00.template-help.com/magento_34403/index.php/wishlist/index/add/product/45/" class="link-wishlist">Add to Wishlist</a>
</div>
</div>
</li>
</ol>
<script type="text/javascript">decorateList('block-related', 'none-recursive')</script>
</div>
<script type="text/javascript">
    //<![CDATA[
    $$('.related-checkbox').each(function(elem){
        Event.observe(elem, 'click', addRelatedToProduct)
    });

    var relatedProductsCheckFlag = false;
    function selectAllRelated(txt){
        if (relatedProductsCheckFlag == false) {
            $$('.related-checkbox').each(function(elem){
                elem.checked = true;
            });
            relatedProductsCheckFlag = true;
            txt.innerHTML="unselect all";
        } else {
            $$('.related-checkbox').each(function(elem){
                elem.checked = false;
            });
            relatedProductsCheckFlag = false;
            txt.innerHTML="select all";
        }
        addRelatedToProduct();
    }

    function addRelatedToProduct(){
        var checkboxes = $$('.related-checkbox');
        var values = [];
        for(var i=0;i<checkboxes.length;i++){
            if(checkboxes[i].checked) values.push(checkboxes[i].value);
        }
        if($('related-products-field')){
            $('related-products-field').value = values.join(',');
        }
    }
    //]]>
    </script>
</div>
<div class="block block-cart">
<div class="block-title">
<strong><span>My Cart</span></strong>
</div>
<div class="block-content">
<p class="empty">You have no items in your shopping cart.</p>
</div>
</div>
<div class="block block-list block-compare">
<div class="block-title">
<strong><span>Compare Products </span></strong>
</div>
<div class="block-content">
<p class="empty">You have no items to compare.</p>
</div>
</div>
<script type="text/javascript">
//<![CDATA[
    function validatePollAnswerIsSelected()
    {
        var options = $$('input.poll_vote');
        for( i in options ) {
            if( options[i].checked == true ) {
                return true;
            }
        }
        return false;
    }
//]]>
</script>
<div class="block block-poll">
<div class="block-title">
<strong><span>Community Poll</span></strong>
</div>
<form id="pollForm" action="http://livedemo00.template-help.com/magento_34403/index.php/poll/vote/add/poll_id/1/" method="post" onsubmit="return validatePollAnswerIsSelected();">
<div class="block-content">
<p class="block-subtitle">What is the main reason for you to purchase products online? </p>
<ul id="poll-answers">
<li class="odd">
<input name="vote" class="radio poll_vote" id="vote_1" value="1" type="radio">
<span class="label"><label for="vote_1">More convenient shipping and delivery </label></span>
</li>
<li class="even">
<input name="vote" class="radio poll_vote" id="vote_2" value="2" type="radio">
<span class="label"><label for="vote_2">Lower price</label></span>
</li>
<li class="odd">
<input name="vote" class="radio poll_vote" id="vote_3" value="3" type="radio">
<span class="label"><label for="vote_3">Bigger choice</label></span>
</li>
<li class="even">
<input name="vote" class="radio poll_vote" id="vote_4" value="4" type="radio">
<span class="label"><label for="vote_4">Centralized product search procedure (without having to leave your home)</label></span>
</li>
<li class="odd">
<input name="vote" class="radio poll_vote" id="vote_5" value="5" type="radio">
<span class="label"><label for="vote_5">Payments security</label></span>
</li>
<li class="even">
<input name="vote" class="radio poll_vote" id="vote_6" value="6" type="radio">
<span class="label"><label for="vote_6">30-day Money Back Guarantee</label></span>
</li>
<li class="last odd">
<input name="vote" class="radio poll_vote" id="vote_7" value="7" type="radio">
<span class="label"><label for="vote_7">Other</label></span>
</li>
</ul>
<script type="text/javascript">decorateList('poll-answers');</script>
<div class="actions">
<button type="submit" title="Vote" class="button"><span><span>Vote</span></span></button>
</div>
</div>
</form>
</div>
<div class="block block-tags">
<div class="block-title">
<strong><span>Popular Tags</span></strong>
</div>
<div class="block-content">
<ul class="tags-list">
<li><a href="http://livedemo00.template-help.com/magento_34403/index.php/tag/product/list/tagId/58/" style="font-size:98.333333333333%;">actual</a></li>
<li><a href="http://livedemo00.template-help.com/magento_34403/index.php/tag/product/list/tagId/57/" style="font-size:75%;">adorable</a></li>
<li><a href="http://livedemo00.template-help.com/magento_34403/index.php/tag/product/list/tagId/47/" style="font-size:121.66666666667%;">amaze</a></li>
<li><a href="http://livedemo00.template-help.com/magento_34403/index.php/tag/product/list/tagId/32/" style="font-size:98.333333333333%;">change</a></li>
<li><a href="http://livedemo00.template-help.com/magento_34403/index.php/tag/product/list/tagId/40/" style="font-size:145%;">consider</a></li>
<li><a href="http://livedemo00.template-help.com/magento_34403/index.php/tag/product/list/tagId/52/" style="font-size:75%;">delivery</a></li>
<li><a href="http://livedemo00.template-help.com/magento_34403/index.php/tag/product/list/tagId/43/" style="font-size:121.66666666667%;">flexibility</a></li>
<li><a href="http://livedemo00.template-help.com/magento_34403/index.php/tag/product/list/tagId/39/" style="font-size:98.333333333333%;">gives</a></li>
<li><a href="http://livedemo00.template-help.com/magento_34403/index.php/tag/product/list/tagId/48/" style="font-size:121.66666666667%;">good</a></li>
<li><a href="http://livedemo00.template-help.com/magento_34403/index.php/tag/product/list/tagId/61/" style="font-size:75%;">indifferent</a></li>
<li><a href="http://livedemo00.template-help.com/magento_34403/index.php/tag/product/list/tagId/21/" style="font-size:98.333333333333%;">keep</a></li>
<li><a href="http://livedemo00.template-help.com/magento_34403/index.php/tag/product/list/tagId/38/" style="font-size:121.66666666667%;">made</a></li>
<li><a href="http://livedemo00.template-help.com/magento_34403/index.php/tag/product/list/tagId/51/" style="font-size:75%;">phenomenon</a></li>
<li><a href="http://livedemo00.template-help.com/magento_34403/index.php/tag/product/list/tagId/50/" style="font-size:75%;">professionally</a></li>
<li><a href="http://livedemo00.template-help.com/magento_34403/index.php/tag/product/list/tagId/49/" style="font-size:121.66666666667%;">quality</a></li>
<li><a href="http://livedemo00.template-help.com/magento_34403/index.php/tag/product/list/tagId/30/" style="font-size:121.66666666667%;">shows</a></li>
<li><a href="http://livedemo00.template-help.com/magento_34403/index.php/tag/product/list/tagId/29/" style="font-size:121.66666666667%;">suit</a></li>
<li><a href="http://livedemo00.template-help.com/magento_34403/index.php/tag/product/list/tagId/60/" style="font-size:75%;">things</a></li>
<li><a href="http://livedemo00.template-help.com/magento_34403/index.php/tag/product/list/tagId/22/" style="font-size:121.66666666667%;">try</a></li>
<li><a href="http://livedemo00.template-help.com/magento_34403/index.php/tag/product/list/tagId/59/" style="font-size:75%;">universal</a></li>
</ul>
<div class="actions">
<a href="http://livedemo00.template-help.com/magento_34403/index.php/tag/list/">View All Tags</a>
</div>
</div>
</div>
<div class="paypal-logo">
<a href="#" title="Additional Options" onclick="javascript:window.open('https://www.paypal.com/us/cgi-bin/webscr?cmd=xpt/Marketing/popup/OLCWhatIsPayPal-outside','paypal','width=600,height=350,left=0,top=0,location=no,status=yes,scrollbars=yes,resizable=yes'); return false;"><img src="kate%20spade_files/bnr_nowAccepting_150x60.gif" alt="Additional Options"></a>
</div>
</div>
</div>
</div>
<div class="footer-container">
<div class="footer">
<ul>
<li><a href="http://livedemo00.template-help.com/magento_34403/index.php/about-magento-demo-store">About Us</a></li>
<li class="last"><a href="http://livedemo00.template-help.com/magento_34403/index.php/customer-service">Customer Service</a></li>
</ul> <ul class="links">
<li class="first"><a href="http://livedemo00.template-help.com/magento_34403/index.php/catalog/seo_sitemap/category/" title="Site Map">Site Map</a></li>
<li><a href="http://livedemo00.template-help.com/magento_34403/index.php/catalogsearch/term/popular/" title="Search Terms">Search Terms</a></li>
<li><a href="http://livedemo00.template-help.com/magento_34403/index.php/catalogsearch/advanced/" title="Advanced Search">Advanced Search</a></li>
<li class=" last"><a href="http://livedemo00.template-help.com/magento_34403/index.php/contacts/" title="Contact Us">Contact Us</a></li>
</ul>
<div class="clear"></div>
<address>© 2011 Magento Demo Store. All Rights Reserved.<br> </address>
</div>
</div>
</div>
</div>


</body></html>